In [1]:
import re

In [2]:
word = '\w+'
sentence = 'Here is my sentence.'
re.findall(word, sentence)

['Here', 'is', 'my', 'sentence']

In [3]:
# the search method allows us to search for a match throughout the string.
search_result = re.search(word, sentence)
search_result.group()

'Here'

In [4]:
#the match method searaches only from the beginning of the string.
match_result = re.match(word, sentence)
match_result.group()

'Here'

In [5]:
# another example for the difference between match method and search method
number = '\d+'
capitalized_word = '[A-Z]\w+'
sentence = 'I have 2 pets: Bear and Bunny'

search_number = re.search(number, sentence)
search_number.group()

'2'

In [6]:
match_number = re.match(number, sentence)
match_number.group()

AttributeError: 'NoneType' object has no attribute 'group'

In [7]:
search_capital = re.search(capitalized_word, sentence)
search_capital.group()

'Bear'

In [8]:
match_capital = re.match(capitalized_word, sentence)
match_capital.group()

AttributeError: 'NoneType' object has no attribute 'group'

In [9]:
# with regex we can find more than one pattern.
name_regex = '([A-Z]\w+) ([A-Z]\w+)'
names = 'Barack Obama, Ronald Reagan, Nancy Drew'

name_match = re.match(name_regex, names)
name_match.group()

'Barack Obama'

In [10]:
name_match.groups()

('Barack', 'Obama')

In [11]:
name_regex = '(?P<first_name>[A-Z]\w+) (?P<last_name>[A-Z]\w+)'

for name in re.finditer(name_regex, names):
    print('Meet {}!'.format(name.group('first_name')))

Meet Barack!
Meet Ronald!
Meet Nancy!

### What to do with duplicate Records

In [13]:
from csv import DictReader

mn_data_rdr = DictReader(open('mn.csv', 'r', encoding='utf-8'))
mn_data = [d for d in mn_data_rdr]

def combine_data_dict(data_rows):
    data_dict = {}
    for row in data_rows:
        key = '%s-%s' % (row.get('HH1'), row.get('HH2'))
        if key in data_dict.keys():
            data_dict[key].append(row)
        else:
            data_dict[key] = [row]
    return data_dict

mn_dict = combine_data_dict(mn_data)
print(len(mn_dict))

6920

In [14]:
print(len(mn_data))

9008

In [15]:
# we found approximately 7000 unique households, meaning a little over 2000 men who were interviewed shared a household.
# the average number of men per house-hold for this interview was 1.3.